<!DOCTYPE html>
<html lang="en">
<head data-th-fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechTrekker</title>
</head>
<body>
    <header data-th-fragment="header" >
        <h1>TechTrekker</h1>
            <div class="links">
                <a href="/create-blog">Create</a>
                <a href="/signup">SignUp</a>
     </div>
    </header>
    <nav data-th-fragment="nav">
        <a href="#">Home</a>
        <a href="#">Frontend</a>
        <a href="#">Backend</a>
        <a href="#">Database</a>
    </nav>
    </body>
    </html>