<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{fragment/basic-fragment :: head}">
</head>
<body>
    <header data-th-replace="~{fragment/basic-fragment :: header}">

    </header>
    <nav data-th-replace="~{fragment/basic-fragment :: nav}">

    </nav>
    <section>
        <h2>Create New Blog</h2>
        <hr>
        <form action="/create-blog" method="post" enctype="multipart/form-data">

            

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" required></textarea>
            </div>

          <div class="form-group">
            <label for="category">Select Category</label>
            <select name="category" id="category">
                <option value="FRONTEND">Frontend</option>
                <option value="BACKEND">Backend</option>
                <option value="DATABASE">Database</option>
            </select>
          </div>

            <div class="form-group">
                <label for="banner">Banner</label>
                <input type="file" id="banner" name="banner" required>
            </div>

            <div>
                <input type="submit" />
            </div>
        </form>
    </section>

</body>

</html>