<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{fragment/basic-fragment :: head}">
    
</head>
<body>
    <header data-th-replace="~{fragment/basic-fragment :: header}">

    </header>
    <nav data-th-replace="~{fragment/basic-fragment :: nav}">
       
    </nav>
    <main>
        <section>
            <article data-th-each="blog : ${blogs}" data-th-object="${blog}">
            <h4 data-th-text="*{title}"></h4>
            <img data-th-src="|/blog/image/*{blogId}|" alt="">
            <br>
            <a data-th-href="|/blog-details?id=*{blogId}|">Read More</a>
        </article>
        </section>
        
    </main>
    
</body>
</html>
