<!DOCTYPE html>
<html lang="en">
<head data-th-replace="~{fragment/basic-fragment :: head}">
    
</head>
<body>
    <link rel="stylesheet" href="/css/home/recent-section.css">
    <header data-th-replace="~{fragment/basic-fragment :: header}">

    </header>
    <nav data-th-replace="~{fragment/basic-fragment :: nav}">
       
    </nav>
    <main data-th-object="${response}">
        <!-- Recent Blogs -->
        <section class="recent-blog-section">
            <article data-th-each="blog : *{recentBlogs}" data-th-object="${blog}">
           
            <div class="img-container">
                <img data-th-src="|/blog/image/*{blogId}|" alt="">
            </div>
            
            <div class="details-container">
                <p data-th-text="*{title}"></p>
            <a data-th-href="|/blog-details?id=*{blogId}|">Read More</a>
            </div>
        </article>
        </section>
        <!-- Frontend Blogs -->
        
        <section>
            <article data-th-each="blog : *{frontendBlogs}" data-th-object="${blog}">
            <h4 data-th-text="*{title}"></h4>
            <img data-th-src="|/blog/image/*{blogId}|" alt="">
            <br>
            <a data-th-href="|/blog-details?id=*{blogId}|">Read More</a>
        </article>
        </section>

        <!-- Backend Blogs -->
        <section>
            <article data-th-each="blog : *{backendBlogs}" data-th-object="${blog}">
            <h4 data-th-text="*{title}"></h4>
            <img data-th-src="|/blog/image/*{blogId}|" alt="">
            <br>
            <a data-th-href="|/blog-details?id=*{blogId}|">Read More</a>
        </article>
        </section>

        <!-- Database Blogs -->
        <section>
            <article data-th-each="blog : *{databaseBlogs}" data-th-object="${blog}">
            <h4 data-th-text="*{title}"></h4>
            <img data-th-src="|/blog/image/*{blogId}|" alt="">
            <br>
            <a data-th-href="|/blog-details?id=*{blogId}|">Read More</a>
        </article>
        </section>
    </main>
    
</body>
</html>
